<div class="container" id="container">


<div class = "row">
  <div class= "col-sm-8">
<div class="loading">
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
</div>

</div>
<div class= "col-sm-4">
<div id="master-alert"></div>
</div>
</div>
</body>
<script>
const container = document.getElementById('container');
const loading = document.querySelector('.loading');

getPost();
getPost();
getPost();
getPost();
window.addEventListener('scroll', () => {
const { scrollTop, scrollHeight, clientHeight } = document.documentElement;

console.log( { scrollTop, scrollHeight, clientHeight });

if(clientHeight + scrollTop >= scrollHeight - 5) {
// show the loading animation
showLoading();
}
});

function showLoading() {
loading.classList.add('show');

// load more data
setTimeout(getPost, 1000)
}

async function getPost() {
var data = []

axios.get('http://localhost:3000/post')
.then((response) => {


console.log(response.data)
console.log(typeof(response.data))
// addDataToDOM(data[0].address)
for(var  i =0;i < response.data.length ;i ++ ){
addDataToDOM(response.data[i])
}
});
;

}

function getRandomNr() {
return Math.floor(Math.random() * 100) + 1;
}

function addDataToDOM(data) {
console.log("data" + data)
const postElement = document.createElement('div');
postElement.classList.add('blog-post');
postElement.innerHTML = `
<h2 class="title">${data.address}</h2>
<div class="card"">
<img src="..." class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Card title</h5>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>


 
<button onclick="myFunction()"><a href=" ${"http://localhost"}:${3000}/${"getPostId"}/${data._id}" class="btn btn-primary">Go somewhere</a></button>

<p id="demo"></p>


</div>
</div>

`;
container.appendChild(postElement);

loading.classList.remove('show');
}

function myFunction() {
console.log("dad")
  // $.ajax({
  //   url:"luotxem/:"+id,
  //   method:"PUT",
  //   success:(result)=>{
  //     console.log("da cap nhat")
  //   }
  // })
}


</script>