<div class="container-fluid">
  <div class="row content">
    <!-- include('sections/leftSidenav'); -->

    <%- include("/leftSidenav")%> <%- include("/rightSidenav")%>
    <!-- include('sections/rightSidenav'); -->
  </div>
</div>
